*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font: normal 16px sans-serif;
    color: rgb(24, 19, 19);
}
ul,
nav{
    list-style: none;
    font-size: medium;
}
a.btn{
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #5caddc;
    opacity: 1;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}
a{
    text-decoration: none;
    opacity: 0.75;
    color: rgb(3, 3, 3);
}
a:hover{
    opacity:1;
}

header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    color: white;
}
@keyframes fadein {
    100% {
      opacity: 1;
    }  
  } 

header h2 {
    font-family: "Quicksand" , sans-serif
}

header nav{
    display: flex;
    margin-right:  -15px;
}

@media only screen and (max-width: 800px){
   header nav {
        position: absolute;
        top: 70px;
        left: 10px;
        width: 98%;
        height: 90%;
        overflow: hidden;
        transition: max-height 0.5s;
        overflow: auto;
    }
    
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 10px;
    
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        float: right;
    }
    .logs{
    padding-top: 40px ;
   }
}



header nav li{
    margin: 0 15px;
    font-weight: bold;
}

.hero{
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    
}
.all{
    
    color: rgb(18, 17, 17);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-image:url('pro2.jpg');
}


.hero h1{
    font: bold 60px "open sans" , sans-serif ;
    margin-bottom: 15px;
}

.hero h3{
    font: normal 28px "open sans", sans-serif;
    margin-bottom: 40px;
}

.hero a.btn {
    padding: 20px 46px;
}

.hero-content-area{
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards;
    
}

@keyframes slidefade{
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
hr {
    width: 250px;
    height: 3px;
    background-image: url('top.jpg');
    border: 0;
    margin-top: 20px;
    margin-bottom: 50px;
}

section h3.tittle {
    text-transform: capitalize;
    font: bold 32px "open sans",sans-serif;
    margin-bottom: 30px;
    text-align: center;
}
section p {
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}
.small img{
    flex-basis: 30%;
    width: 100%;
}

.all .destination .grid li.large{
    flex-basis: 70%;
}